BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignArrayOfStructures: Left
AlignConsecutiveMacros: true
ColumnLimit: 100
IndentPPDirectives: AfterHash
IndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Pointer